body {
  padding-top: 80px;
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 150px;
  height: 150px;
  align-self: center;
}


  
body{
  outline: none;
  width: 100%;
  height: 100%;
  margin: 50px auto;
  background: #f9f9f9;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
  
#wrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
  
#box{
  width: 320px;
  height: auto;
  margin: 0 auto;
  background: #fff;
  border: thin solid #ededed;
}

#box > img{
  width: 70px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 30px 0 20px 0;
}

#box > h3{
  text-align: center;
  font-size: .9em;
  color: #979696;
  margin: 0 0 0px 0;
}
  
#box > form {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

#box > form > input {
  display: inline-block;
  width: 260px;
  height: 50px;
  margin: 5px auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: .8em;
  border: 1.5px solid #cccccc;
  transition: all .2s ease;
}

#box > form > input:focus {
  border: thin solid #015b7e;
  outline: none;
}

::-webkit-input-placeholder  {
  color: #cccccc;
  font-weight: 700;
  font-size: .9em;
}


#box > a {
  display: block;
  margin: 0;
  padding: 5px 0 15px 0;
  width: 260px;
  height: 20px;
  margin: 0 auto;
  text-align: right;
  text-transform: uppercase;
  font-size: .7em;
  color: #cccccc;
  font-weight: 400;
}
  
#box > input {
  width: 260px;
  height: 50px;
  background: #015b7e;
  border: none;
  outline: none;
  margin: 0 auto;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  font-size: .7em;
  transition: all .2s ease;
}
    
#box > input:hover {
  background: #014965;
}

#box > .signup {
  width: 100% ;
  height: auto;
  border: none;
  background: #f5f5f5;
  outline: none;
  margin: 0 auto;
  padding: 20px;
  display: block;
  color: #ededed;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  font-size: .8em;
}
    
#box > .signup p,a {
  font-size: .8em;
  text-decoration: none;
}
  
#box > .signup p {
  color: #cccccc;
}
  
#box > .signup a {
  text-decoration: none;
  color: #015b7e;
  font-size: 1em;
  padding-left: 25px;
}
@media only screen and (max-width: 600px) {
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}